/* react-grid-layout style */

.react-grid-item {
    overflow: hidden !important;
    box-shadow: 0px 0px 3px 0px #999999;
    background-color: #ffffff;
    border-radius: 3px;
    min-height: 70px;
    min-width: 70px;
}

.react-grid-item.edit,
.react-grid-item.RESOURCES,
.react-grid-item.TEXT,
.react-grid-item.MESSAGES,
.react-grid-item.APP {
    display: flex;
    flex-direction: column;
}

.react-grid-item.edit:hover {
    cursor: move;
}

.react-grid-item.edit.react-resizable-hide {
    cursor: auto;
}

.react-grid-item.SPACER.view {
    visibility: hidden;
}

.react-grid-item.SPACER.edit {
    background-color: rgba(255, 255, 255, 0.3);
}

.react-grid-item.react-grid-placeholder {
    background: #000;
    opacity: 0.1;
    transition-duration: 150ms;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* react-resizable */

.react-resizable-handle {
    background: none;
}

/* dashboard item - content */

.dashboard-item-content {
    margin: 0 var(--item-content-padding) var(--item-content-padding);
    overflow: auto;
}

.dashboard-item-content-hidden-title {
    margin: 5px 4px 4px;
    overflow: auto;
}

.CHART .dashboard-item-content,
.VISUALIZATION .dashboard-item-content,
.MAP .dashboard-item-content,
.EVENT_CHART .dashboard-item-content {
    overflow: hidden;
}

.react-grid-item.edit .dashboard-item-content,
.react-grid-item.RESOURCES .dashboard-item-content,
.react-grid-item.TEXT .dashboard-item-content,
.react-grid-item.MESSAGES .dashboard-item-content,
.react-grid-item.APP .dashboard-item-content,
.react-grid-item.APP .dashboard-item-content-hidden-title {
    flex: 1;
}
